body {
    background-color: #57C2C7;
    color: #FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #264e8360;
    border-style: none;
}
input {
    height: 22px;
}